<%= debug @image.path %>

<%= image_tag @cone %>
<%= image_tag(image_url('cone0.png')) %>
<%= image_tag(image_url('cone1.png')) %>

<%= @image.width %>
<%= @image.height %>
<p class="h1"><%= @cone %></p>